django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.2
drf-spectacular==0.27.2
celery==5.3.6
redis==5.0.8
django-celery-beat==2.6.0
psycopg2-binary==2.9.9
scikit-learn==1.5.2
scipy==1.13.1
pandas==2.2.2
numpy==1.26.4
Pillow==10.4.0
python-magic==0.4.27
pdfplumber==0.11.4
boto3==1.35.6
gunicorn==23.0.0
